/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/* Import der Projektschriften 'Charm' und Montserrat von Google-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
    /* Definition d. Projektfarben als CSS-Variablen */
    --papyrus: #DDE7C6;
    --important: #860C0B;
    --coffee: #312015;
    --cappuccino: #ecb357;

    --mainGradient: linear-gradient(45deg, var(--important), var(--coffee), var(--important));
}

/* Default-Konfiguration und f. kleine VP */
body {
    font-family: 'Montserrat', Verdana, sans-serif;
    color: var(--coffee);
    background: var(--mainGradient);
}

h1, h2, h3, h4, h5, h6, .asideButton {
    font-family: 'Charm', cursive;
    font-weight: 700;
    margin: 0em 0em .25em 0em;
}

h1 {
    font-size: clamp(3rem, 10vw, 10rem);
    font-weight: 400;
}

h2 {
    font-size: clamp(3rem, 5vw, 6rem);
}

h3 {
    text-align: center;
    font-size: clamp(2.75rem, 3vw, 5rem);
}

.brand {
    font-weight: 700;
    text-shadow: .25rem .25rem .5rem white;
    color: var(--important);
}

a, .subtitle {
    font-family: 'Charm', cursive;
    font-weight: 400;
}

#mapTarget {
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
    z-index: 0;
}

#pageWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 120em;
    margin: 0 auto;
}

#pageNav,
#contentWrapper,
aside,
footer {
    padding: 0 1rem;
}

header:not(.csh) {
    width: 100%;
    background: linear-gradient(var(--cappuccino),white, var(--papyrus));
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-left: 6rem !important;
}

.subtitle {
    text-align: center;
    font-size: clamp(1.25rem, 3vw, 5rem);
    font-style: italic;
    color: var(--coffee);
    margin: .25em 0;
}

#headerLogo {
    display: none;
}

#pageNav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--coffee);
    overflow: hidden;
    z-index: 3;
}

#hButton {
    position: fixed;
    left: 1rem;
    top : 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--papyrus);
    border: solid thin var(--coffee);
    border-radius: .5em;
    cursor: pointer;
    z-index: 3;
    overflow: hidden;
}

.hbE {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3.5rem;
    height: .7rem;
    background-color: var(--coffee);
    border-radius: .4rem;
    pointer-events: none;
    transition: all 250ms ease-in;
}

#hButton:hover .hbE {
    background-color: var(--important);
}

#hbeTop {
    top: 15%;
}

#hbeMid {
    top: 50%;
    transform: translate(-50%, -50%);
}

#hbeBottom {
    bottom: 15%;
}

nav > ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 6rem 0 2rem;
}

nav li {
    display: inherit;
    padding: .25rem;
    width: 100%;
}

nav a,
.asideButton {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    background: var(--mainGradient);
    padding: .25em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 250ms ease-in;
}

nav a:link,
nav a:visited,
.asideButton {
    color: white;
    box-shadow: .1rem .1rem .5rem white;
}

nav a:hover,
nav a:focus,
.asideButton:hover,
.asideButton:focus {
    color: var(--papyrus);
    box-shadow: .1rem .1rem .25rem white, .1rem .1rem .75rem var(--important);
}

main {
    display: inherit;
    flex-direction: column;
}

#contentWrapper {
    background-color: var(--papyrus);
}

.contentSection {
    margin: 2rem 0;
}

.sc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 100%;
}

.sc .textContent {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}

.imageContainer {
    width: 100%;
}

.imageContainer img {
    width: 100%;
    border-radius: 2rem;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--papyrus);
    padding-bottom: 10rem;
}

.asArt h2 {
    font-size: clamp(2rem, 4.5vw, 5rem);
}

.asideButton {
    max-width: 20rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 5rem;
    color: white;
    background: linear-gradient(to top, var(--coffee), var(--coffee) 75%, var(--papyrus));
    padding: 2rem 0 0 0;
}

.footerBox {
    width: 20rem;
    text-align: center;
    font-size: .6rem;
}

@media all and (min-width: 40em) {
    .textContent {
        flex: 1;
        padding-right: 1rem;
    }

    .imageContainer {
        width: 33%;
    }   
}

/* Tablet-Konfiguration */
@media screen and (min-width: 51.25em) {
    #hButton {
        display: none;
    }

    #headerLogo {
        display: block;
        width: 15vw;
        height: 15vw;
        max-width: 20rem;
        max-height: 20rem;
        margin-right: 6rem;
    }

    header:not(.csh) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav > ul {
        flex-direction: row;
        max-width: 60em;
        margin: 1rem auto;
    }

    nav li {
        justify-content: space-around;
    }

    nav a {
        max-width: 15rem;
    }

    .sc {
        align-items: center;
    }
}

/* Desktop-Default-Konfiguration */
@media screen and (min-width: 80em) {
    #pageWrapper {
        display: grid;
        grid-template-rows: 5fr;
        grid-template-columns: 1fr 4fr;
    }

    header:not(.csh) {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        width: auto;
        padding-left: 20rem !important;
    }
    
    #pageNav {
        position: sticky;
        top: 0;
        height: 100vh;
        grid-row: 2 / 5;
        grid-column: 1 / 2;
        width: auto;
        background-color: var(--papyrus);
        z-index: 0;
    }
    
    nav ul {
        flex-direction: column;
    }

    main {
        grid-row: 2 / 5;
        grid-column: 2 / 4;
    }
    
    footer {
        position: relative;
        width: auto;
        grid-row: 5 / 6;
        grid-column: 1 / 4;
    }
}

/* Desktop-Large-Konfiguration */
@media screen and (min-width: 100em) {
    main {
        display: flex;
        flex-direction: row;
    }

    #contentWrapper {
        flex: 1;
    }
    
    aside {
        width: 30%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

